$primary-color: #646e78;
$secondary-color: #8d98a7;
$text-color-dark: #34312d;
$text-color-light: #f3f3f4;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

.heading {
  font-size: 3em;
  color: $text-color-light;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.sub-heading {
  font-size: 2em;
  color: $text-color-light;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 10%;
}

.header {
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/header.jpg);
  min-height: 100vh;
  position: relative;

  &__textBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-100%);
    text-align: center;
    color: $text-color-light;
    text-transform: uppercase;
    &--main {
      font-size: 5em;
      animation: moveInRight 1s ease-out;
    }

    &--sub {
      margin-top: 1em;
      font-size: 2em;
      letter-spacing: 26px;
      animation: moveInLeft 1s ease-out;
    }
  }

  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5em;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
    animation: moveInUp 1s linear;

    &__avatar {
      background: #fff;
      padding: 12px;
      border-radius: 4px;
      width: 200px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
      transition: all ease 0.5s;

      img {
        width: 100%;
      }

      &:hover {
        transform: translateY(-10px);
      }
    }

    &__information {
      position: relative;
      flex: 1;
      padding: 0 24px;

      .navigation {
        position: absolute;
        bottom: 0;

        li {
          list-style: none;
          display: inline-block;
          margin-left: 30px;
          position: relative;
          z-index: 1;
          padding: 10px;
          overflow: hidden;

          &:first-child {
            margin: 0;
          }
          &:after {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            background: #55c57a;
            content: "";
            z-index: -1;
            transform: translateX(120%);
            transition: all 1s;
          }
          &:hover::after {
            transform: translateX(0);
            transition: all 1s;
          }

          a {
            font-size: 2em;
            position: relative;
            &:link,
            &:visited {
              color: $text-color-light;
              text-decoration: none;
            }
          }
        }
      }
    }

    &__calltoaction {
      width: 150px;
      padding: 12px;
    }
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
